{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="opacity: 0.9">
  <div class="navbar-collapse collapse" style="margin-left: 6.5rem;">
      <a class="navbar-brand" href="#">Spirifer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav ml-auto"  style="margin-right: 6rem;">
          <li class="nav-item">
            <a class="nav-link" href="#">Główna <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">O nas</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#">Wyprawy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Galeria</a>
          </li>

        </ul>
  </div>
    </nav>

